@page
@using Microsoft.AspNetCore.SignalR.Client

@model AirplaneTicketsReservationApp.Pages.Visitor.BrowseModel
@{
    ViewData["Title"] = "Browse";
}


<h2>Browse records</h2>
<form method="post">
    Departure <input type="text" name="_from" />
    Arrival <input type="text" name="_to" />
    <input type="submit" class="btn btn-success" />
    <a asp-page="/Visitor/Browse">Get all records</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Departure date</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Number of transfers</th>
            <th>Number of seats</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.results)
        {
        <tr>
            <td>@item.id</td>
            <td>@item.departureDate</td>
            <td>@item.departure.ToString()</td>
            <td>@item.arrival.ToString()</td>
            <td>@item.numberOfTransfers</td>
            @if (item.numberOfSeats > 5)
            {
                <td>@item.numberOfSeats</td>

            }
            else
            {
                <td class="label-warning">@item.numberOfSeats</td>
            }
            <td>
            <a class="btn btn-primary btn-sm" href="/Visitor/Reserve?id=@item.id">Reserve</a>
            </td>
        </tr>
        }
    </tbody>
</table>